[submodule "vendored/zydis"]
	path = vendored/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "vendored-tests/lily"]
	path = vendored-tests/lily
	url = https://git.ablecorp.eu/lily-org/lily
	branch = 0.2.0
[submodule "examples/raylib/raylib"]
	path = examples/raylib/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendored-tests/hblsp"]
	path = vendored-tests/hblsp
	url = https://git.ablecorp.eu/chayleaf/hblsp.git
