[submodule "vendored/zydis"]
	path = vendored/zydis
	url = https://github.com/jakubDoka/zydis.git
[submodule "vendored-tests/lily/"]
	path = vendored-tests/lily
	url = https://git.ablecorp.eu/lily-org/lily
